


h1 {text-align: center;}
nav {background-color: rgb(42, 4, 57);overflow: hidden; text-decoration: underline; letter-spacing: -2px;}
nav a {float: left; display: block; color: aquamarine; text-align: center; padding: 14px 16px;
text-decoration: none; border-bottom: 3px solid darkblue;}
nav a:hover{border-bottom: 3px solid red;}
body {background-color: thistle; color: darkorchid;}
#programmingMemeImage {align-self: center;}
footer {margin-top: 10%;text-align: center;}